<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>底部</title>
</head>
<body>
    <div class="footer wrapper box-padding">
        <div class="col-xs-8">
            <h3>LINKS</h3>
            <div class="row clearfix">
                <div class="col-xs-3"><img src="./asset/img/link/link01.png" alt=""></div>
                <div class="col-xs-3"><img src="./asset/img/link/link02.png" alt=""></div>
                <div class="col-xs-3"><img src="./asset/img/link/link03.png" alt=""></div>
                <div class="col-xs-3"><img src="./asset/img/link/link01.png" alt=""></div>
            </div>
            <div class="row clearfix">
                <div class="col-xs-3"><img src="./asset/img/link/link02.png" alt=""></div>
                <div class="col-xs-3"><img src="./asset/img/link/link03.png" alt=""></div>
                <div class="col-xs-3"><img src="./asset/img/link/link01.png" alt=""></div>
                <div class="col-xs-3"><img src="./asset/img/link/link02.png" alt=""></div>
            </div>
        </div>
        <div class="col-xs-3 col-xs-offset-1">
            <h3>CONTACT</h3>
            <div class="email">jessie.jin@oib-china.com</div>
        </div>
        <div class="col-xs-12 line">
            <div class="col-xs-10 copyright">Copyright ©2017 www.oib-china.com . All Rights Reserved 沪ICP备14026675号</div>
            <ul class="col-xs-2 share">
                <li><a href=""><img src="./asset/img/icon/weixin-white.png" alt=""></a></li>
                <li><a href=""><img src="./asset/img/icon/weibo-white.png" alt=""></a></li>
                <li><a href=""><img src="./asset/img/icon/be-white.png" alt=""></a></li>
            </ul>
        </div>
    </div>
</body>
</html>