<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>顶部</title>
</head>
<body>
    <div class="header wrapper box-padding">
        <div class="col-xs-2"><a href="index.html"><img src="./asset/img/main/logo-red.png" alt="" class="logo"></a></div>
        <div class="col-xs-8" id="page-name"></div>
        <div class="col-xs-2" id="nav-toggle">
            <div><a href="javascript:void(0);" lang="en">EN</a> <span>|</span> <a href="javascript:void(0);" lang="zh-cn">CN</a></div>
            <img src="./asset/img/icon/nav-red.png" alt="" class="nav-toggle">
        </div>
    </div>
</body>
</html>