<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>导航</title>
</head>
<body>
    <div class="nav">
        <img src="./asset/img/icon/close.png" alt="关闭" class="close">
        <ul class="link">
            <li><a href="index.html">HOME</a></li>
            <li><a href="works.html">WORKS</a></li>
            <li><a href="about.html">ABOUT</a></li>
            <li><a href="news.html">NEWS</a></li>
            <li><a href="service.html">SERVICE</a></li>
            <li><a href="contact.html">CONTACT</a></li>
        </ul>
        <ul class="share">
            <li><a href=""><img src="./asset/img/icon/weixin-red.png" alt=""></a></li>
            <li><a href=""><img src="./asset/img/icon/weibo-red.png" alt=""></a></li>
            <li><a href=""><img src="./asset/img/icon/be-red.png" alt=""></a></li>
        </ul>
        <div class="copyright">©2015 沪ICP备14026675号-1</div>
    </div>
</body>
</html>
